<ion-header>
  <ion-toolbar>
    <ion-title>Setting</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- <ion-searchbar showCancelButton="focus"></ion-searchbar> -->

<ion-segment color="primary" [(ngModel)]="type" (ionChange)="segmentChanged($event)" scrollable>
  <ion-segment-button value="breakfast" checked>
      <ion-label>Breakfast</ion-label>
    
    </ion-segment-button>
    <ion-segment-button value="lunch">
      <ion-label>Lunch</ion-label>
    
    </ion-segment-button>
    <ion-segment-button value="eveningmeal">
      <ion-label>Evening Meal</ion-label>
 
    </ion-segment-button>
    <ion-segment-button value="snack1">
      <ion-label>Snack 1</ion-label>
    
    </ion-segment-button>
    <ion-segment-button value="snack2">
      <ion-label>Snack 2</ion-label>
   
    </ion-segment-button>
    <ion-segment-button value="snack3">
      <ion-label>Snack 3</ion-label>

    </ion-segment-button>
    <ion-segment-button value="others">
      <ion-label>Others</ion-label>

    </ion-segment-button>
    
  </ion-segment>






</ion-content>
